.city-select {
    width: 200px;
}

.city-select-dropdown {
    background-color: rgba(21, 79, 255, 0.336) !important;
    color: rgba(0, 0, 161, 0.767) !important;
}

.city-label {
    font-size: 12pt;
    color: rgba(0, 0, 161, 0.767);
}

.title {
    margin-bottom: 50px;
    color: rgba(0, 0, 161, 0.767);
}